{% extends "base.html" %}
{% load static %}

{% block title %}
{{ profile.user.username|title }}
{% endblock %}

{% block content %}
{% if profile.birth_date == None %}
<div class="alert alert-danger" role="alert">
    Дата рождения не указана!
    <a href="" onclick="" class="alert-link">Указать</a>
</div>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="upload-btn-wrapper">
                <form action="{% url 'set_user_image' username=profile.user.username %}"
                      method="POST" id="image_change">
                    {% csrf_token %}
                    <img src="{{ profile.image }}"
                         class="img-thumbnail" id="profile_image"/>
                    <input type="file" accept=".png, .jpg, .jpeg"
                           onchange="onFileSelected(event); submit();"/>
                </form>
            </div>
            <h1 align="center" style="margin-top: 0.8rem;">{{ profile.user.username|title }}</h1>
        </div>
        <div class="col-6">
            <p> Имя: <br>{{ profile.user.first_name }}</p>
            <p> Фамилия: <br>{{ profile.user.last_name }}</p>
            <p> Дата рождения:
                <br>{% if profile.birth_date == None %}Не указано{% else %}{{ profile.birth_date }}{% endif %}</p>
            {% if request.user.is_staff %}
            <a href="/admin" class="btn btn-outline-danger">Админ</a>
            {% endif %}

        </div>
    </div>
    <form action="{% url 'about_set' username=profile.user %}" method="POST" id="about_form">
        {% csrf_token %}
        <label for="about" class="mt-3">О себе</label> <br>
        <textarea name="about" id="about" cols="60" rows="10"
                  readonly>{% if profile.about != None %}{{ profile.about }}{% endif %}</textarea>
        {% if request.user.username == profile.user.username %}
        <input class="btn btn-danger mb-3" type="button" id="change_button"
               onclick='about_me(this)' value="Изменить">
        {% endif %}
    </form>
</div>
<br>
{% endblock %}


{% block script %}
function about_me(button) {
    if (button.value  == "Изменить") {
        button.value  = "Сохранить";
        document.getElementById("about").readOnly = false;
    }
    else {
        button.value  = "Изменить";
        document.getElementById("about").readOnly = true;
        document.getElementById("about_form").submit();
    }
}

function onFileSelected(event) {
    var selectedFile = event.target.files[0];
    var reader = new FileReader();

    var imgtag = document.getElementById("profile_image");
    imgtag.title = selectedFile.name;

    reader.onload = function(event) {
        imgtag.src = event.target.result;
    };
    reader.readAsDataURL(selectedFile);
}

{% endblock %}

