{% extends "base.html" %}

{% block title %}
Создание теста
{% endblock %}

{% block content %}
<form action="{% url 'create_test' %}" method="POST">
    {% include 'template_forms.html' %}
    {% for question in questions %}
    <div class="form-group">
        {% if question.errors %}
        <div class="alert alert-danger">
            {{ question.errors }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-danger pull-right mb-3">Создать</button>
</form>
{% endblock %}



	